<!-- <h1>{{ user?.id }}</h1> -->

<div class="col-md-8 mt-4" *ngIf=editForm>
    <form [formGroup]="editForm" (ngSubmit)="edit()">
        <div class="card mt-4">
            <div class="card-body">
                <div class="card-title">
                    Inserta un Nuevo Usuario
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Inserta el Nombre" class="form-control" formControlName="name">
                    <span *ngIf="editForm?.controls['name']?.touched && editForm?.controls['name']?.invalid">
                        El nombre es obligatorio</span>
                </div>

                <div class="form-group">
                    <input type="text" placeholder="Inserta el Trabajo" class="form-control" formControlName="job">
                    <span *ngIf="editForm?.controls['job']?.touched && editForm?.controls['job']?.invalid">
                        El trabajo es obligatorio</span>
                </div>
                <div class="btn-toolbar">
                    <button class="btn btn-primary mr-1" [disabled]="editForm?.invalid">
                        Confirmar
                    </button>

                    <button class="btn btn-primary mr-1 " [routerLink]="['/users']">
                        Regresar
                    </button>
                </div>


            </div>
        </div>
    </form>

</div>