<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand">
        BUPA EXAMEN
    </a>
    <a class="navbar-brand">
            <i class="fas fa-users" [routerLink]="['/users']"></i>
        Ingresar a Usuarios
    </a>
</nav>

<div *ngIf="pokemons?.length>0" style="text-align:center">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Url</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pokemon of pokemons | paginate: tableConfig">
                <th scope="row" class="badge badge-light">{{pokemon?.name}}</th>
                <td>{{pokemon?.url}}
                </td>
            </tr>
        </tbody>
    </table>

    <pagination-controls [previousLabel]="'Anterior'" [nextLabel]="'Siguiente'" (pageChange)="pageChanged($event)">
    </pagination-controls>

</div>